* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; /* 1rem = 10px for easier caluculations */
}

.phone-frame {
	position: relative;
	margin: 7rem auto;
	width: 40rem;
	height: 76rem;
	background-color: #000000;
	border-radius: 3.5rem;
}

.phone-frame .notch {
	position: absolute;
	background-color: inherit;
	width: 21rem;
	height: 3rem;
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
	top: 1rem;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
}

.phone-frame .notch::before {
	position: absolute;
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	background: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
	top: 0;
	left: -0.8rem;
}


.phone-frame .notch::after {
	position: absolute;
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	background: radial-gradient(circle at right bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
	top: 0;
	right: -0.8rem;
}

.phone-frame .speaker {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 0.9rem;
	background-color: hsl(210, 5%, 10%);
	border-radius: 1rem;
	width: 6rem;
	height: 0.6rem;
	
}

.phone-frame .sensor {
	position: absolute;
	left: 73%;
	top: 0.9rem;
	background-color: hsl(202, 79%, 25%);
	border-radius: 100%;
	width: 0.6rem;
	height: 0.6rem;
}

.phone-frame .calculator {
	background-color: #262626;
	position: absolute;
	top: 1rem;
	bottom: 1rem;
	right: 1rem;
	left: 1rem;
	border-radius: 3.5rem;
	overflow: hidden;
}

.phone-frame .calculator .display {
	background-color: #42494c;
	height: 25rem;
	border-radius: 0 0 3rem 3rem;
}

.phone-frame .calculator .controls {
	display: flex;
	gap: 1.15rem;
	margin: 5rem 1.3rem 0;
	flex-wrap: wrap;
}

.phone-frame .calculator .controls button {
	flex: 0 0 22.5%; /* The same as using width: 22.5% */
	font-size: 3rem;
	padding: 2rem;
	border-radius: 50%;
	border: none;
	position: relative;
	overflow: hidden;
	transition: border-radius 100ms ease, background-color 150ms ease;
	outline: none;
}

.phone-frame .calculator .controls button.equals {
	flex: 0 0 48%;
	border-radius: 3.5rem;
	background-color: #D3E3FD;
}

.phone-frame .calculator .controls .operator,
.phone-frame .calculator .controls .parenthesis {
	background-color: #73bff2;
	color: #001D35;
}

.phone-frame .calculator .controls .digit,
.phone-frame .calculator .controls .dicimal-point {
	background-color: #303336;
	color: #E3E3E3;
}

.phone-frame .calculator .controls .clear,
.phone-frame .calculator .controls .delete {
	background-color: #C4EED0;
	color: #072711;
}

/* Buttons animation */
.phone-frame .calculator .controls button.btn-radius:not(.equals) {
	border-radius: 35%;
}

.phone-frame .calculator .controls button.equals.btn-radius {
	border-radius: 2.5rem;
}

.phone-frame .calculator .controls button.btn-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0, 0%, 100%, 0.15);
}
