* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; /* 1rem = 10px for easier caluculations */
}

.phone-frame {
	position: relative;
	margin: 7rem auto;
	width: 43rem;
	height: 76rem;
	background-color: #111519;
	border-radius: 3.5rem;
}

.phone-frame .calculator {
	background-color: #262626;
	position: absolute;
	top: 2.5rem;
	bottom: 2rem;
	right: 1rem;
	left: 1rem;
	border-radius: 1.75rem;
	overflow: hidden;
}

.phone-frame .calculator .display {
	background-color: #42494c;
	height: 23rem;
	border-radius: 0 0 3rem 3rem;
}

.phone-frame .calculator .controls {
	display: flex;
	gap: 1rem;
	margin: 3rem 1.3rem 0;
	flex-wrap: wrap;
}

.phone-frame .calculator .controls button {
	flex: 0 0 23%; /* The same as using width: 23% */
	font-size: 3rem;
	padding: 2.3rem;
	border-radius: 50%;
	border: none;
	position: relative;
	overflow: hidden;
	transition: all 150ms ease;
}

.phone-frame .calculator .controls button.equals {
	flex: 0 0 48.5%;
	border-radius: 3.5rem;
	background-color: #D3E3FD;
}

.phone-frame .calculator .controls .operator {
	background-color: #73bff2;
	color: #001D35;
}

.phone-frame .calculator .controls .digit,
.phone-frame .calculator .controls .dicimal-point {
	background-color: #303336;
	color: #E3E3E3;
}

.phone-frame .calculator .controls .clear,
.phone-frame .calculator .controls .delete {
	background-color: #C4EED0;
	color: #072711;
}

/* Buttons animation */
.phone-frame .calculator .controls button.btn-radius:not(.equals) {
	border-radius: 35%;
	transition: border-radius 100ms ease;
}

.phone-frame .calculator .controls button.equals.btn-radius {
	border-radius: 2.5rem;
	transition: border-radius 100ms ease;
}

.phone-frame .calculator .controls button.btn-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0, 0%, 100%, 0.15);
	transition: background-color 150ms ease;
}
